.form {
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: '100%';
  margin-bottom: 50px;
}
.form div {
  /* width: 50%; */
}
.formBody{
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
}
@media screen and (max-width:1000px) {
  .formBody{
    display: none;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.sideImg {
  margin-top: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .wrap {
    display: none;
  }
  .form {
    /* background-color: #f2f2f2; */
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }
}

